header{
    height:98px;
    width:100%;
    background-color:#333333 
}
.h-icon{
    width:111px;
    height:33px;
    float:left;
    margin-left:45px;
    margin-top:42px;
    background-image: url(../img/hicon.png);
}
.def-color{
    color:#4ba5b3;
    border-color: #4ba5b3;
}
.hand-nav{
    width:1010px;
    height:98px;
    float: right;
}
.hand-nav p{
    height:49px;
    width:100%;
    margin:0px;
}
.hand-nav .user-bar button{
    background-color:transparent;
    padding:5px 15px;
    border:0px;
    font-size:14px;
    color:#4ba5b3;
    float:right;
    margin-top:9.5px;
}
.hand-nav .user-bar .user{
    color:#fff;
    margin-right:60px;
}
.hand-nav .user-bar .user-end{
    margin-right:25px;
}
.hand-nav .user-nav{
    color:#fff;
    float:right;
    height:49px;
    font-size:16px;
    margin-right:29px;
}
a{
    color:#fff;
}
/*** body ***/
#price-box{
    width:100%;
    height:660px;
}
#price-box .price-nav{
    box-sizing: border-box;
    height:39px;
    width:100%;
    background-color: #f0f0f0;
    border:1px solid #dddddd;
}
.price-left{
    margin:0px;
    float:left;
    margin-left:15px;
}
.price-right{
    margin:0px;
    float:right;
    margin-left:15px;
    margin-right:23px;
}
.price-right li{
    margin-left:12.5px;
}
#price-box .price-sel{
    height:71px;
    width:100%;
    border-bottom:1px solid #dddddd;
    line-height:71px;
}
#price-box .sel-text{
    width:auto;
    height:100%;
    display: inline-block;
    font-size:16px;
    line-height:71px;
    margin-left:40px;
    font-weight: normal;
    margin-right:30px;
}
#price-box .sel-btn{
    float:right;
    margin-top:20px;
    margin-right:39px;
    font-size: 13px;   
    box-sizing: border-box;
    height:30px;
    width:64px; 
}
#sel-status{
    width:75px;
    height:30px;
    background-color:#f0f0f0;
    border:none;
}
label{
    font-weight: normal;
}