header{
    height:98px;
    width:100%;
    background-color:#333333 
}
.h-icon{
    width:111px;
    height:33px;
    float:left;
    margin-left:45px;
    margin-top:42px;
    background-image: url(../img/hicon.png);
}
.hand-nav{
    width:1038px;
    height:98px;
    float: right;
}
.hand-nav p{
    height:49px;
    width:100%;
    margin:0px;
}
.hand-nav .user-bar button{
    background-color:transparent;
    padding:5px 15px;
    border:0px;
    font-size:14px;
    color:#4ba5b3;
    float:right;
    margin-top:9.5px;
}
.hand-nav .user-bar .user{
    color:#fff;
    margin-right:60px;
}
.hand-nav .user-bar .user-end{
    margin-right:25px;
}
.hand-nav .user-nav{
    color:#fff;
    float:right;
    height:49px;
    font-size:16px;
}
a{
    color:#fff;
}