/**default**/
.blue{
    color:#4fb7c7;
}
.red{
    color:#ff3333;
}
.form-control{
    width:194px;
}
/**header**/
header{
    height:98px;
    width:100%;
    background-color:#333333 
}
.h-icon{
    width:111px;
    height:33px;
    float:left;
    margin-left:45px;
    margin-top:42px;
    background-image: url(../img/hicon.png);
}
.def-color{
    color:#4fb7c7;
    border-color: #4fb7c7;
}
.def-link{
    color:#4fb7c7;
    border: 0px;
    height:14px;
    line-height: 14px;
}
.hand-nav{
    width:1010px;
    height:98px;
    float: right;
}
.hand-nav p{
    height:49px;
    width:100%;
    margin:0px;
}
.hand-nav .user-bar button{
    background-color:transparent;
    padding:5px 15px;
    border:0px;
    font-size:14px;
    color:#4fb7c7;
    float:right;
    margin-top:9.5px;
}
.hand-nav .user-bar .user{
    color:#fff;
    margin-right:60px;
}
.hand-nav .user-bar .user-end{
    margin-right:25px;
}
.hand-nav .user-nav{
    color:#fff;
    float:right;
    height:49px;
    font-size:16px;
    margin-right:29px;
}
a{
    color:#fff;
}
/*** body ***/
#content-box{
    width:100%;
    height:660px;
}
#content-box .content-nav{
    box-sizing: border-box;
    height:39px;
    width:100%;
    background-color: #f0f0f0;
    border:1px solid #dddddd;
}
.content-left{
    margin:0px;
    float:left;
    margin-left:15px;
}
#content-box .content-sel{
    height: 65px;
    width: 100%;
    padding-top:35px;
}
#content-box .content-sel .text-right p{
    margin:0px;
    margin-top:12px;
}
#content-box .content-sel .text-right{
    float:right;
    height:30px;
    margin-right: 40px;
    vertical-align: text-bottom;
}
#content-box .sel-text{
    width:auto;
    height:100%;
    display: inline-block;
    font-size:16px;
    margin-left:40px;
    font-weight: normal;
    margin-right:10px;
}
#content-box .sel-btn{
    font-size: 13px;   
    box-sizing: border-box;
    height:30px;
    margin-bottom:2px;
    width:64px; 
}
#sel-status{
    width:75px;
    height:30px;
    background-color:#f0f0f0;
    border:none;
}
#content-box .roomStatus-sel{
    height: 66px;
    margin-left:40px;
}
#content-box .roomStatus-sel .form-horizontal{
    height: 66px;
    line-height: 66px;
}
#content-box .roomStatus-sel .form-horizontal .control-group{
    height: 66px;
    font-size:16px;
}
#content-box .roomStatus-sel .form-horizontal .control-group .date-input{
    height: 66px;
    display:inline-block;
}
#content-box .roomStatus-sel .control-week{
    margin-left: -70px;
}
.add-on{
    margin-left: 10px;
}
label{
    font-weight: normal;
}
.footer{
    width:1120px;
    height:45px;
    margin: auto;
    text-align: right;
    margin-top:15px;
}
.footer span{
    padding:4px 6px;
    margin-left:9px;
    font-size: 14px;
}
.footer .sel-now{
    background-color: #f0f0f0;
}
.footer .btn-link{
    color:black;
    cursor: pointer;
}
.footer button{
    background-color: #fff;
    padding:5px 10px;
    border:1px solid #dddddd;
    font-size:14px;
    line-height: 14px;
}